<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="bg-login">
        <div class="container">
          <div class="content">
            <h3>Kartu Induk Kesenian Banyuwangi</h3>
            <p>
              Untuk Menggunakan layanan Aplikasi Kartu Induk kesenian
              Banyuwangi, anda harus login terlebih dahulu. Kemudian jika belum
              punya akun silahkan Buat Akun
            </p>
          </div>
        </div>
        <div class="bg-image"></div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="login-form">
        <div class="box" *ngIf="signstatus == 'signin'">
          <h3>LOG IN</h3>
          <p class="mb-3">Layanan Aplikasi Kartu Induk Kesenian Banyuwangi.</p>
          <p *ngIf="successMsg && !errorMsg" [class.text-success]="successMsg">
            {{ successMsg }}
          </p>

          <p *ngIf="errorMsg" [class.text-error]="errorMsg">{{ errorMsg }}</p>

          <p *ngIf="!successMsg && !errorMsg">
            <!-- Lorem ipsum dolor sit amet consectetur. -->
          </p>

          <div class="form">
            <div class="form-group">
              <input
                placeholder="E-mail"
                type="email"
                class="form-control"
                id="email"
                name="email"
                [(ngModel)]="email"
                (keyup.enter)="email && password ? login(email, password) : ''"
              />
            </div>
            <div class="form-group mb-3">
              <input
                type="password"
                placeholder="Password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="password"
                (keyup.enter)="email && password ? login(email, password) : ''"
              />
            </div>

            <!-- <div class="form-group mb-4">
                <div class="text-right">
                  <a (click)="forgetpassword()">Forgot password?</a>
                </div>
              </div> -->

            <button
              [disabled]="!email || !password"
              class="btn btn-info w-100 mb-3"
              (click)="login(email, password)"
            >
              {{ btnsignin }}
            </button>

            <div class="link-bottom">
              <p>
                Belum Punya Akun ?
                <a (click)="signup()">Buat Akun</a>
              </p>
            </div>
          </div>
        </div>

        <div class="box" *ngIf="signstatus == 'signup'">
          <h3>Buat Akun</h3>
          <p *ngIf="successMsg && !errorMsg" [class.text-success]="successMsg">
            {{ successMsg }}
          </p>

          <p *ngIf="errorMsg" [class.text-error]="errorMsg">
            {{ errorMsg }}
          </p>

          <p *ngIf="!successMsg && !errorMsg">
            <!-- Lorem ipsum dolor sit amet consectetur. -->
          </p>

          <form [formGroup]="addForm" class="form">
            <div class="form-group">
              <input
                formControlName="name"
                placeholder="Fullname"
                type="text"
                class="form-control"
                id="name"
                name="name"
              />
            </div>

            <div class="form-group">
              <input
                formControlName="email"
                placeholder="E-mail"
                type="email"
                class="form-control"
                id="email"
                name="email"
              />
            </div>

            <div class="form-group">
              <input
                formControlName="whatsapp"
                placeholder="Whatsapp"
                type="text"
                class="form-control"
                id="whatsapp"
                name="whatsapp"
              />
            </div>

            <div class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control"
                id="password"
                name="password"
                type="password"
              />
            </div>

            <div class="form-group mb-3">
              <input
                formControlName="confirmPassword"
                placeholder="Re-enter Password"
                class="form-control"
                id="confirm-password"
                name="confirm-password"
                type="password"
              />
            </div>

            <button
              class="btn btn-info w-100 mb-3"
              [disabled]="addForm.invalid"
              (click)="signupProccess()"
            >
              {{ btnsignup }}
            </button>

            <div class="link-bottom">
              <p>
                Sudah Punya Akun ?
                <a (click)="signin()">Masuk</a>
              </p>
            </div>
          </form>
        </div>

        <div class="box" *ngIf="signstatus == 'verify'">
          <h3>VERIFICATION</h3>
          <p *ngIf="successMsg && !errorMsg" [class.text-success]="successMsg">
            {{ successMsg }}
          </p>

          <p *ngIf="errorMsg" [class.text-error]="errorMsg">{{ errorMsg }}</p>

          <p class="mb-3">
            Masukkan kode yang dikirim melalui email: {{ email }}
          </p>

          <div class="form">
            <div class="form-group form-code mb-4">
              <input
                type="number"
                (contextmenu)="onContextMenu($event)"
                (paste)="onPaste($event, 1)"
                (keyup)="onInputKeydown($event, 1)"
                #code1
                [(ngModel)]="value_code1"
                class="form-control"
                (click)="selectAll(code1)"
              />
              <input
                type="number"
                (contextmenu)="onContextMenu($event)"
                (paste)="onPaste($event, 2)"
                (keyup)="onInputKeydown($event, 2)"
                #code2
                [(ngModel)]="value_code2"
                class="form-control"
                (click)="selectAll(code2)"
              />
              <input
                type="number"
                (contextmenu)="onContextMenu($event)"
                (paste)="onPaste($event, 3)"
                (keyup)="onInputKeydown($event, 3)"
                #code3
                [(ngModel)]="value_code3"
                class="form-control"
                (click)="selectAll(code3)"
              />
              <input
                type="number"
                (contextmenu)="onContextMenu($event)"
                (paste)="onPaste($event, 4)"
                (keyup)="onInputKeydown($event, 4)"
                #code4
                [(ngModel)]="value_code4"
                class="form-control"
                (click)="selectAll(code4)"
              />
              <input
                type="number"
                (contextmenu)="onContextMenu($event)"
                (paste)="onPaste($event, 5)"
                (keyup)="onInputKeydown($event, 5)"
                #code5
                [(ngModel)]="value_code5"
                class="form-control"
                (click)="selectAll(code5)"
              />
              <input
                type="number"
                (contextmenu)="onContextMenu($event)"
                (paste)="onPaste($event, 6)"
                (keyup)="onInputKeydown($event, 6)"
                #code6
                [(ngModel)]="value_code6"
                class="form-control"
                (click)="selectAll(code6)"
              />
            </div>

            <button class="btn btn-info w-100 mb-3" (click)="verifycode()">
              {{ btnverify }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="spinner-wrapper">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
