<div class="navbar-menu">
  <div class="navbar-brand-box">
    <a routerLink="/home" class="logo">
      <div class="logo-lg">
        <img src="assets/img/logo-white.png" alt="logo" />
      </div>
      <div class="logo-sm">
        <img src="assets/img/logo-white.png" alt="logo" />
      </div>
    </a>
  </div>

  <ul id="accordionSidebar" class="navbar-nav sidebar">
    <li class="nav-item">
      <a
        routerLink="/admin/messages"
        class="nav-link"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faMail"></fa-icon>

        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin/account" class="nav-link" routerLinkActive="active">
        <fa-icon [icon]="faSetting"></fa-icon>

        <span>Data Organisasi</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/admin/my-listings"
        class="nav-link"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faList"></fa-icon>

        <span>Data Anggota</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/admin/liked-listings"
        class="nav-link"
        routerLinkActive="active"
      >
        <fa-icon [icon]="faHeart"></fa-icon>

        <span>Data Inventaris Barang</span>
      </a>
    </li>
  </ul>
</div>
