<app-header></app-header>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="content pt-5">
      <h3 class="mb-3">Data Induk Kesenian</h3>

      <table class="table table-bordered">
        <thead>
          <tr>
            <td align="center">No</td>
            <td>Nomor Induk</td>
            <td>Nama Kesenian</td>
            <td>Jenis Kesenian</td>
            <td>Alamat</td>
            <td>Ketua</td>
            <td>Tgl Daftar</td>
            <td>Tgl Expired</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataKesenian; let i = index">
            <td align="center">{{ i + 1 }}</td>

            <td align="center">
              {{ item.nomor_induk ? item.nomor_induk : "-" }}
            </td>
            <td>
              {{ item.nama }}
            </td>
            <td>
              {{ item.nama_jenis_kesenian }} - {{ item.nama_sub_kesenian }}
            </td>
            <td>
              {{ item.alamat }}
            </td>
            <td>
              {{ item.nama_ketua }} <br />
              Telp. {{ item.no_telp_ketua }}
            </td>
            <td>
              {{ formatDate(item.tanggal_daftar) }}
            </td>
            <td>
              {{ formatDate(item.tanggal_expired) }}
            </td>
            <td>
              <ng-container *ngIf="item.status == 'Request'">
                <div class="badge badge-info">
                  {{ item.status }}
                </div>
              </ng-container>
              <ng-container *ngIf="item.status == 'Denny'">
                <div class="badge badge-danger">
                  {{ item.status }}
                </div>
              </ng-container>
              <ng-container *ngIf="item.status == 'Allow'">
                <ng-container
                  *ngIf="item.status && checkExpired(item.tanggal_expired)"
                >
                  <div class="badge badge-warning text-white">Expired</div>
                </ng-container>

                <ng-container
                  *ngIf="
                    item.status &&
                    !checkExpired(item.tanggal_expired) &&
                    !item.perpanjangan_ke
                  "
                >
                  <div class="badge badge-info">Baru</div>
                </ng-container>

                <ng-container
                  *ngIf="
                    item.status &&
                    !checkExpired(item.tanggal_expired) &&
                    item.perpanjangan_ke
                  "
                >
                  <div class="badge badge-info">Perpanjangan</div>
                </ng-container>
              </ng-container>
            </td>

            <td>
              <ng-container *ngIf="item.status != 'Allow'">
                <button
                  title="Verifikasi Data"
                  class="btn text-info"
                  routerLink="/admin/verifikasi/{{ item.id }}"
                >
                  <fa-icon [icon]="faPencil"></fa-icon>
                </button>
              </ng-container>

              <ng-container *ngIf="item.status == 'Allow'">
                <button
                  [disabled]="!checkExpired(item.tanggal_expired)"
                  class="btn text-info"
                  (click)="modalUpdate(item)"
                  title="Perpanjang kartu"
                >
                  <fa-icon [icon]="faUpdate"></fa-icon>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="spinner-wrapper">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
