<app-header></app-header>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="content table-responsive pt-5">
      <div class="row">
        <div class="col-lg-6">
          <h3 class="mb-3">Data Induk Kesenian</h3>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-lg-6">
          <button class="btn btn-info" (click)="importData()">
            Import data kesenian
          </button>
        </div>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <td align="center">No</td>
            <td>Nama Kesenian</td>
            <td>Nomor Induk</td>
            <td>Jenis Kesenian</td>
            <td>Alamat</td>
            <td>Ketua</td>
            <td>Tgl Daftar</td>
            <td>Tgl Expired</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataKesenian; let i = index">
            <td align="center">{{ i + 1 }}</td>

            <td>
              {{ item.nama }}
            </td>
            <td>
              {{ item.nomor_induk ? item.nomor_induk : "-" }}
            </td>
            <td>
              {{ item.nama_jenis_kesenian }}
              {{
                item.nama_sub_kesenian ? " - " + item.nama_sub_kesenian : "-"
              }}
            </td>
            <td>
              {{ item.alamat }}
            </td>
            <td>
              {{ item.nama_ketua }} <br />
              {{ item.no_telp_ketua ? "Telp. " + item.no_telp_ketua : "-" }}
            </td>
            <td>
              {{ formatDate(item.tanggal_daftar) }}
            </td>
            <td>
              {{
                item.tanggal_expired ? formatDate(item.tanggal_expired) : "-"
              }}
            </td>
            <td>
              <ng-container *ngIf="item.status == 'Request'">
                <div class="badge badge-primary">
                  {{ item.status }}
                </div>
              </ng-container>
              <ng-container *ngIf="item.status == 'Denny'">
                <div class="badge badge-danger">
                  {{ item.status }}
                </div>
              </ng-container>
              <ng-container *ngIf="item.status == 'Allow'">
                <ng-container
                  *ngIf="item.status && checkExpired(item.tanggal_expired)"
                >
                  <div class="badge badge-warning text-white">Expired</div>
                </ng-container>

                <ng-container
                  *ngIf="
                    item.status &&
                    !checkExpired(item.tanggal_expired) &&
                    !item.perpanjangan_ke
                  "
                >
                  <div class="badge badge-info">Baru</div>
                </ng-container>

                <ng-container
                  *ngIf="
                    item.status &&
                    !checkExpired(item.tanggal_expired) &&
                    item.perpanjangan_ke
                  "
                >
                  <div class="badge badge-info">Perpanjangan</div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="item.status == 'DataLama'">
                <div class="badge badge-info">Data Lama</div>

                <ng-container
                  *ngIf="item.status && checkExpired(item.tanggal_expired)"
                >
                  <div class="badge badge-warning text-white">Expired</div>
                </ng-container>
              </ng-container>
            </td>

            <td>
              <ng-container *ngIf="item.status != 'Allow'">
                <button
                  title="Verifikasi Data"
                  class="btn text-info"
                  routerLink="/admin/verifikasi/{{ item.id }}"
                >
                  <fa-icon [icon]="faPencil"></fa-icon>
                </button>
              </ng-container>

              <ng-container *ngIf="item.status == 'Allow'">
                <button
                  title="Lihat kartu"
                  class="btn text-info mr-2"
                  (click)="previewKartu(item)"
                >
                  <fa-icon [icon]="faCard"></fa-icon>
                </button>

                <button
                  title="Verifikasi Data"
                  class="btn text-info mr-2"
                  routerLink="/admin/verifikasi/{{ item.id }}"
                >
                  <fa-icon [icon]="faPencil"></fa-icon>
                </button>

                <button
                  [disabled]="!checkExpired(item.tanggal_expired) && item.kartu"
                  class="btn text-info"
                  (click)="modalUpdate(item)"
                  title="Perpanjang kartu"
                >
                  <fa-icon [icon]="faUpdate"></fa-icon>
                </button>
              </ng-container>

              <button
                title="Delete Data"
                class="btn text-danger"
                (click)="deleteOrganisasi(item.id)"
              >
                <fa-icon [icon]="faDelete"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<canvas #qrcode style="display: none"></canvas>

<ng-container *ngIf="isLoading">
  <div class="spinner-wrapper">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
