<div class="modal-content">
  <form class="theme-form">
    <div class="modal-header">
      <h5 class="modal-title">Tambah Anggota</h5>
      <button
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="anggotaForm">
        <ng-container>
          <div class="box">
            <div class="row" *ngIf="errorList">
              <div class="col-lg-12">
                <div class="alert alert-danger">
                  <ul class="list-style-none">
                    <li *ngFor="let item of errorList">
                      {{ item }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8">
                <div class="form-group">
                  <label for="nama" class="form-label">
                    Nama <span class="text-danger">*</span>
                  </label>
                  <input
                    formControlName="nama"
                    id="nama"
                    type="text"
                    class="form-control"
                    placeholder="Enter"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="jabatan" class="form-label">
                    Jabatan <span class="text-danger">*</span>
                  </label>
                  <select
                    formControlName="jabatan"
                    name="jabatan"
                    id="jabatan"
                    class="form-control"
                  >
                    <option value="">Pilih</option>
                    <option [value]="item" *ngFor="let item of jabatanList">
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="jenis_kelamin" class="form-label">
                    Jenis Kelamin
                  </label>
                  <div class="d-flex">
                    <div class="form-check mr-3">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="jenis_kelamin"
                        id="jenis_kelamin1"
                        value="L"
                        formControlName="jenis_kelamin"
                      />
                      <label class="form-check-label" for="jenis_kelamin1">
                        Laki-Laki
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="jenis_kelamin"
                        id="jenis_kelamin2"
                        value="P"
                        formControlName="jenis_kelamin"
                      />
                      <label class="form-check-label" for="jenis_kelamin2">
                        Perempuan
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="tanggal_lahir" class="form-label">
                    Tanggal Lahir
                  </label>
                  <input
                    formControlName="tanggal_lahir"
                    id="tanggal_lahir"
                    type="date"
                    class="form-control"
                    placeholder="Enter"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="pekerjaan" class="form-label"> Pekerjaan </label>
                  <input
                    formControlName="pekerjaan"
                    id="pekerjaan"
                    type="text"
                    class="form-control"
                    placeholder="Enter"
                  />
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="alamat" class="form-label"> Alamat </label>
                  <textarea
                    placeholder="Alamat"
                    formControlName="alamat"
                    name="alamat"
                    id=""
                    class="form-control"
                    cols="10"
                  ></textarea>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="telepon" class="form-label"> Telepon </label>
                  <input
                    formControlName="telepon"
                    id="telepon"
                    type="text"
                    class="form-control"
                    placeholder="Enter"
                  />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="whatsapp" class="form-label"> No Whatsapp </label>
                  <input
                    formControlName="whatsapp"
                    id="whatsapp"
                    type="text"
                    class="form-control"
                    placeholder="Enter"
                  />
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-info width-100"
        data-dismiss="modal"
        (click)="close()"
      >
        CANCEL
      </button>
      <button type="button" class="btn btn-info width-100" (click)="save()">
        SAVE
      </button>
    </div>
  </form>
</div>

<ng-container *ngIf="isLoading">
  <div class="spinner-wrapper">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
