<app-header></app-header>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="content">
      <div class="mb-4">
        <button
          routerLink="/admin/homepage"
          class="btn btn-outline-info btn-sm"
        >
          <i class="icon icon-back mr-2"></i>
          Kembali
        </button>
      </div>

      <div class="d-flex justify-content-between my-4">
        <h3>Verifikasi Permohonan Kartu Induk Kesenian</h3>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-3">
          <div class="wrapper-step">
            <ul class="StepProgress">
              <li
                class="StepProgress-item"
                [ngClass]="
                  tabActive == 'general' ||
                  tabActive == 'data_organisasi' ||
                  tabActive == 'data_anggota' ||
                  tabActive == 'data_inventaris' ||
                  tabActive == 'data_pendukung' ||
                  tabActive == 'photo' ||
                  tabActive == 'review'
                    ? 'is-done'
                    : ''
                "
              >
                <strong>Perhatian</strong>
                <i class="icon-step icon-info"></i>
              </li>
              <li
                class="StepProgress-item"
                [ngClass]="
                  tabActive == 'data_organisasi' ||
                  tabActive == 'data_anggota' ||
                  tabActive == 'data_inventaris' ||
                  tabActive == 'data_pendukung' ||
                  tabActive == 'photo' ||
                  tabActive == 'review'
                    ? 'is-done'
                    : ''
                "
              >
                <strong>Data Organisasi</strong>
                <i class="icon-step icon-location"></i>
              </li>
              <li
                class="StepProgress-item"
                [ngClass]="
                  tabActive == 'data_anggota' ||
                  tabActive == 'data_inventaris' ||
                  tabActive == 'data_pendukung' ||
                  tabActive == 'photo' ||
                  tabActive == 'review'
                    ? 'is-done'
                    : ''
                "
              >
                <strong>Data Anggota</strong>
                <i class="icon-step icon-price"></i>
              </li>
              <li
                class="StepProgress-item"
                [ngClass]="
                  tabActive == 'data_inventaris' ||
                  tabActive == 'data_pendukung' ||
                  tabActive == 'photo' ||
                  tabActive == 'review'
                    ? 'is-done'
                    : ''
                "
              >
                <strong>Inventaris Barang</strong>
                <i class="icon-step icon-interior"></i>
              </li>
              <li
                class="StepProgress-item"
                [ngClass]="
                  tabActive == 'data_pendukung' ||
                  tabActive == 'photo' ||
                  tabActive == 'review'
                    ? 'is-done'
                    : ''
                "
              >
                <strong>Dokumen Pendukung</strong>
                <i class="icon-step icon-house"></i>
              </li>
              <li
                class="StepProgress-item"
                [ngClass]="
                  tabActive == 'photo' || tabActive == 'review' ? 'is-done' : ''
                "
              >
                <strong>Review Akhir</strong>
                <i class="icon-step icon-publish"></i>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-8 mb-3">
          <ng-container *ngIf="tabActive == 'general'">
            <div class="card-border general" *ngIf="!isLoading">
              <h3>Halo Admin</h3>

              <p class="mb-3">
                Berikut adalah data user baru yang mengajukan Permohonan kartu
                induk kesenian. Silahkan lakukan verifikasi untuk tindak lanjut
                dari permohonan ini.
              </p>

              <p>Klik tombol selanjutnya di bagian bawah :</p>
            </div>
          </ng-container>

          <ng-container *ngIf="tabActive == 'data_organisasi'">
            <div class="card-border mb-3">
              <h3>Data Organisasi</h3>

              <form [formGroup]="organisasiForm" class="form">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="form-group">
                      <label for="nama">Nama Organisasi</label>
                      <input
                        type="text"
                        class="form-control"
                        id="Nama"
                        placeholder="Nama"
                        formControlName="nama"
                        [attr.disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="tanggal-berdiri">Tanggal Berdiri</label>
                      <input
                        type="date"
                        class="form-control"
                        id="tanggal-berdiri"
                        formControlName="tanggal_berdiri"
                        placeholder="Tanggal Berdiri"
                        [attr.disabled]="true"
                      />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="jenis_kesenian">Jenis Kesenian</label>
                      <select
                        [attr.disabled]="true"
                        name="jenis_kesenian"
                        id="jenis_kesenian"
                        class="form-control"
                        formControlName="jenis_kesenian"
                        (change)="selectJenisKesenian()"
                      >
                        <option value="">Pilih</option>
                        <option
                          [value]="item.id"
                          *ngFor="let item of jenisKesenian"
                        >
                          {{ item.nama }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sub_kesenian">Sub Kesenian</label>
                      <select
                        [attr.disabled]="true"
                        name="sub_kesenian"
                        id="sub_kesenian"
                        class="form-control"
                        formControlName="sub_kesenian"
                      >
                        <option value="">Pilih</option>
                        <option
                          [value]="item.id"
                          *ngFor="let item of subKesenian"
                        >
                          {{ item.nama }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="jumlah_anggota">Jumlah Anggota</label>
                      <input
                        [attr.disabled]="true"
                        type="number"
                        class="form-control"
                        id="jumlah_anggota"
                        placeholder="Jumlah Anggota"
                        formControlName="jumlah_anggota"
                      />
                    </div>
                  </div>

                  <div class="col-lg-12 general">
                    <hr />
                    <br />

                    <p class="sub">Alamat Sekretariat Organisasi</p>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="kabupaten">Kabupaten</label>
                      <select
                        [attr.disabled]="true"
                        name="kabupaten"
                        id="kabupaten"
                        class="form-control"
                        formControlName="kabupaten"
                      >
                        <option value="Banyuwangi">Banyuwangi</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="kecamatan">Kecamatan</label>
                      <select
                        [attr.disabled]="true"
                        name="kecamatan"
                        id="kecamatan"
                        class="form-control"
                        (change)="getDesa()"
                        formControlName="kecamatan"
                      >
                        <ng-container *ngFor="let item of kecamatanList">
                          <option [value]="item.kode">{{ item.nama }}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="desa">Desa</label>
                      <select
                        [attr.disabled]="true"
                        name="desa"
                        id="desa"
                        class="form-control"
                        formControlName="desa"
                      >
                        <ng-container *ngFor="let item of desaList">
                          <option [value]="item.kode">{{ item.nama }}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="alamat">Alamat detail</label>
                      <textarea
                        [attr.disabled]="true"
                        class="form-control"
                        name="alamat"
                        id="alamat"
                        cols="30"
                        rows="10"
                        formControlName="alamat"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </ng-container>

          <ng-container *ngIf="tabActive == 'data_anggota'">
            <div class="card-border mb-3">
              <h3 class="mb-3">Data Anggota</h3>

              <div class="row">
                <div class="col-lg-12 table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>NIK</td>
                        <td>Nama</td>
                        <td>L/P</td>
                        <td>Umur</td>
                        <td>Pekerjaan</td>
                        <td>Alamat</td>
                        <td>Jabatan</td>
                        <td>Kontak</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of userList; let i = index">
                        <td>{{ item.nik }}</td>
                        <td>{{ item.nama }}</td>
                        <td>
                          {{ item.jenis_kelamin ? item.jenis_kelamin : "-" }}
                        </td>
                        <td>{{ calculateAge(item.tanggal_lahir) }}</td>
                        <td>{{ item.pekerjaan ? item.pekerjaan : "-" }}</td>
                        <td>{{ item.alamat ? item.alamat : "-" }}</td>
                        <td>{{ item.jabatan }}</td>
                        <td>{{ item.whatsapp ? item.whatsapp : "-" }}</td>
                      </tr>

                      <ng-container *ngIf="userList && userList.length == 0">
                        <tr>
                          <td colspan="8" align="center">Data masih kosong</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="tabActive == 'data_inventaris'">
            <div class="card-border mb-3">
              <h3 class="mb-3">Data Inventaris</h3>

              <div class="row">
                <div class="col-lg-12 table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td>No</td>
                        <td>Nama</td>
                        <td>Jumlah</td>
                        <td>Pembelian TH</td>
                        <td>Kondisi</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of inventarisList; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.nama }}</td>
                        <td>
                          {{ item.jumlah ? item.jumlah : "-" }}
                        </td>
                        <td>{{ item.pembelian_th }}</td>
                        <td>{{ item.kondisi ? item.kondisi : "-" }}</td>
                      </tr>

                      <ng-container
                        *ngIf="inventarisList && inventarisList.length == 0"
                      >
                        <tr>
                          <td colspan="6" align="center">Data masih kosong</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="tabActive == 'data_pendukung'">
            <div class="card-border mb-3">
              <h3>Dokumen pendukung</h3>

              <div class="row" *ngIf="organisasi">
                <div class="col-lg-12 mb-4">
                  <div class="form-group mb-0">
                    <label for="fotoKTP">
                      Foto KTP <span class="text-danger">*</span>
                    </label>
                  </div>

                  <div class="container-upload">
                    <ng-container *ngIf="fotoKTPPreview">
                      <div class="relative">
                        <img
                          class="img-upload"
                          [src]="fotoKTPPreview"
                          alt="image"
                        />
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="col-lg-12 mb-4">
                  <div class="form-group mb-0">
                    <label for="pasFoto">
                      PAS FOTO <span class="text-danger">*</span>
                    </label>
                  </div>

                  <div class="container-upload">
                    <ng-container *ngIf="pasFotoPreview">
                      <div class="relative">
                        <img
                          class="img-upload"
                          [src]="pasFotoPreview"
                          alt="image"
                        />
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="col-lg-12 mb-4">
                  <div class="form-group mb-0">
                    <label for="fotoKTP">
                      Banner <span class="text-danger">*</span>
                    </label>
                  </div>

                  <div class="container-upload">
                    <ng-container *ngIf="bannerPreview">
                      <div class="relative">
                        <img
                          class="img-upload"
                          [src]="bannerPreview"
                          alt="image"
                        />
                      </div>
                    </ng-container>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group mb-0">
                    <label for="fotoKTP">
                      Foto Kegiatan <span class="text-danger">*</span>
                    </label>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="row preview-image mb-3">
                        <ng-container
                          *ngIf="selectedFiles && selectedFiles.length"
                        >
                          <div
                            class="col-lg-4 mb-3"
                            *ngFor="let img of selectedFiles; let i = index"
                          >
                            <div class="image-thumbnails">
                              <img [src]="img" alt="" />
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="tabActive == 'review'">
            <div class="card-border mb-3">
              <h3 class="mb-4">Review Validasi data</h3>

              <p *ngIf="!checkValidasi()">
                Berikut informasi yang dapat disampaikan kepada pendaftar :
              </p>
              <ol class="mb-5" *ngIf="!checkValidasi()">
                <ng-container *ngFor="let item of dataValidation">
                  <li class="mb-3" *ngIf="item.status == 'tdk_valid'">
                    {{ replaceString(item.tipe) }} masih
                    <b>{{ replaceString(item.status) }}</b>
                    <p class="mt-2">Keterangan : {{ item.keterangan }}</p>
                  </li>
                </ng-container>
              </ol>

              <ng-container *ngIf="!checkValidasi()">
                <div class="d-flex align-items-center">
                  <div class="text-center icon-info text-danger mr-5">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </div>

                  <p class="mb-0">
                    Berdasarkan penilaian anda, data pendaftaran belum memenuhi
                    kriteria, sehingga data perlu di perbarui oleh pendaftar.
                    <b>"Simpan data"</b> untuk menyimpan status pendaftaran dan
                    mengirimkan informasi ini kepada pendaftar.
                  </p>
                </div>

                <!-- <button class="btn btn-info">Tolak Pendaftaran</button> -->
              </ng-container>

              <ng-container *ngIf="!isLoading && checkValidasi()">
                <div class="d-flex align-items-center">
                  <div class="text-center icon-info text-success mr-5">
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </div>

                  <p class="mb-0">
                    Berdasarkan penilaian anda, data pendaftaran sudah memenuhi
                    kriteria, sehingga pendaftar diterima dan berhasil mendapat
                    kartu induk kesenenian yang sah. <b>"Simpan data"</b> untuk
                    menyimpan status pendaftaran dan mengirimkan informasi ini
                    kepada pendaftar.
                  </p>
                </div>

                <!-- <button class="btn btn-info">Tolak Pendaftaran</button> -->
              </ng-container>
            </div>
          </ng-container>

          <ng-container *ngIf="tabActive != 'general' && tabActive != 'review'">
            <div class="card-border">
              <h3 class="mb-3">Review {{ replaceString(tabActive) }}</h3>
              <form [formGroup]="reviewForm" class="form">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="nama">Review</label>
                      <select
                        formControlName="status"
                        name="status"
                        id="status"
                        class="form-control"
                      >
                        <option value="valid">Valid</option>
                        <option value="tdk_valid">Tidak Valid</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="keterangan">Keterangan</label>
                      <textarea
                        formControlName="keterangan"
                        name="keterangan"
                        class="form-control"
                        id="keterangan"
                        placeholder="keterangan"
                        cols="30"
                        rows="10"
                      ></textarea>
                    </div>
                  </div>
                  <!-- <div class="col-lg-12 mb-4">
                    <div class="form-group mb-0">
                      <label for="foto">
                        Foto / Keterangan Gambar
                      </label>
                    </div>
  
                    <div class="container-upload">
                      <ng-container *ngIf="!fotoKTPPreview">
                        <input
                          type="file"
                          id="fotoKTP"
                          accept="image/*"
                          (change)="onFileSelectedFotoKTP($event)"
                          #fotoKTP
                        />
                        <img
                          class="mt-4 mb-3"
                          src="/assets/img/upload-image-icon.svg"
                          alt=""
                        />
  
                        <div class="d-flex justify-content-center">
                          <h3>
                            Click to upload
                            <span>or drag and drop SVG, PNG or JPG</span>
                          </h3>
                        </div>
                      </ng-container>
  
                      <ng-container *ngIf="fotoKTPPreview">
                        <div class="relative">
                          <img
                            class="img-upload"
                            [src]="fotoKTPPreview"
                            alt="image"
                          />
                          <fa-icon
                            (click)="deleteImage('KTP')"
                            class="icon-delete"
                            [icon]="faTimes"
                          ></fa-icon>
                        </div>
                      </ng-container>
                    </div>
                  </div> -->
                </div>
              </form>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="footer-content">
      <button class="btn btn-icon px-3 btn-sm mr-3" (click)="prev(tabActive)">
        <i class="icon icon-arrow-left"></i>
      </button>

      <ng-container *ngIf="tabActive == 'general'">
        <button class="btn btn-info btn-sm" (click)="next(tabActive)">
          <span> Selanjutnya </span>
          <i class="icon icon-arrow-right ml-2"></i>
        </button>
      </ng-container>

      <ng-container *ngIf="tabActive != 'general' && tabActive != 'review'">
        <button
          [disabled]="reviewForm.invalid"
          class="btn btn-info btn-sm"
          (click)="next(tabActive)"
        >
          <span> Selanjutnya </span>
          <i class="icon icon-arrow-right ml-2"></i>
        </button>
      </ng-container>

      <button
        *ngIf="tabActive == 'review'"
        class="btn btn-info btn-sm"
        (click)="saveStatusPendaftaran(tabActive)"
      >
        <span> Simpan Data </span>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="spinner-wrapper">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
