<app-header></app-header>
<div class="wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <div class="content pt-5">
      <ng-container *ngIf="organisasi && organisasi.status == 'Request'">
        <h3>Data anda sedang dalam Verifikasi</h3>

        <p>
          Mohon ditunggu maksimal 5 hari kerja. Jika data anda belum di proses
          dalam 5 hari, <br />
          silahkan menghubungi admin Disbudpar Banyuwangi. <br /><br />

          Terima kasih ...
        </p>
      </ng-container>
      <ng-container *ngIf="organisasi && organisasi.status == 'Denny'">
        <h3>Pendaftaran Gagal</h3>

        <p>
          Pendaftaran masih belum diterima. Data anda dinyatakan tidak valid
          oleh admin. <br />
          Silahkan cek kembali sesuai dengan petunjuk :
        </p>

        <table
          class="table table-bordered"
          *ngIf="dataVerifikasi && dataVerifikasi.length"
        >
          <thead>
            <tr>
              <td width="1%">No</td>
              <td>Tanggal Review</td>
              <td>Status</td>
              <td>Keterangan</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataVerifikasi; let i = index">
              <td>
                {{ i + 1 }}
              </td>
              <td>
                {{ item.tanggal_review | date : "fullDate" }}
              </td>
              <td>
                <ng-container *ngIf="item.status == 'tdk_valid'">
                  <div class="badge badge-danger">TIDAK VALID</div>
                </ng-container>

                <!-- <ng-container *ngIf="item.status == 'valid'">
                  <div class="badge badge-success">VALID</div>
                </ng-container> -->
              </td>
              <td>
                {{ item.keterangan }}
              </td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-info" (click)="gotoRegistrasi()">
          Perbaiki data
        </button>
      </ng-container>
      <ng-container *ngIf="organisasi && organisasi.status == 'Allow'">
        <div class="row">
          <div class="col-lg-7">
            <ng-container
              *ngIf="
                organisasi.status && checkExpired(organisasi.tanggal_expired)
              "
            >
              <h3 class="text-danger">Penting !</h3>
              <p>
                Mohon maaf kartu anda sudah tidak aktif. Segera lakukan
                perpanjangan dengan mengajukan melalui tombol dibawah ini :
              </p>

              <button class="btn btn-info mb-4">Perpanjangan Kartu</button>
            </ng-container>

            <ng-container
              *ngIf="
                organisasi.status && !checkExpired(organisasi.tanggal_expired)
              "
            >
              <h3>Pendaftaran Berhasil</h3>

              <p>
                Anda telah terdaftar dalam Kartu Induk Kesenian Kab. Banyuwangi
              </p>
            </ng-container>

            <table class="table table-hover" *ngIf="organisasi">
              <tr>
                <td colspan="3" align="center">KARTU INDUK KESENIAN</td>
              </tr>
              <tr>
                <td class="label">Nomor Induk</td>
                <td class="w-1">:</td>
                <td>
                  {{ organisasi.nomor_induk ? organisasi.nomor_induk : "-" }}
                </td>
              </tr>
              <tr>
                <td class="label">Nama Organisasi</td>
                <td class="w-1">:</td>
                <td>{{ organisasi.nama }}</td>
              </tr>
              <tr>
                <td class="label">Nama Pimpinan</td>
                <td class="w-1">:</td>
                <td>{{ organisasi.nama_ketua }}</td>
              </tr>
              <tr>
                <td class="label">Tanggal Terdaftar</td>
                <td class="w-1">:</td>
                <td>{{ formatDate(organisasi.tanggal_daftar) }}</td>
              </tr>
              <tr>
                <td class="label">Alamat</td>
                <td class="w-1">:</td>
                <td>{{ organisasi.alamat }}</td>
              </tr>
              <tr>
                <td class="label">No. Telp. Ketua</td>
                <td class="w-1">:</td>
                <td>{{ organisasi.no_telp_ketua }}</td>
              </tr>
              <tr>
                <td class="label">Jenis Kesenian</td>
                <td class="w-1">:</td>
                <td>{{ organisasi.nama_jenis_kesenian }}</td>
              </tr>
              <tr>
                <td class="label">Berlaku</td>
                <td class="w-1">:</td>
                <td>
                  <ng-container
                    *ngIf="checkExpired(organisasi.tanggal_expired)"
                  >
                    <div class="badge badge-danger">
                      Sudah tidak berlaku sejak
                      {{ organisasi.tanggal_expired | dateAgo }}
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="!checkExpired(organisasi.tanggal_expired)"
                  >
                    {{ getTanggalBefore(organisasi.tanggal_expired) }} -
                    {{ formatDate(organisasi.tanggal_expired) }}
                  </ng-container>
                </td>
              </tr>
              <tr *ngIf="getFotoKetua(organisasi.id)">
                <td class="label">Foto Pimpinan</td>
                <td></td>
                <td>
                  <div class="ktp">
                    <img [src]="getFotoKetua(organisasi.id)" alt="" />
                  </div>
                </td>
              </tr>
            </table>

            <button
              [disabled]="!organisasi.kartu"
              class="btn btn-info btn-sm"
              (click)="previewKartu(organisasi)"
            >
              Lihat Kartu
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!isLoading && !organisasi">
        <div class="row">
          <div class="col-lg-6 mb-3">
            <div class="card card-body card-custom">
              <h3>Anda belum terdaftar dalam Kartu Induk Kesenian ?</h3>

              <p class="mb-3">
                Lakukan Pendaftaran Kartu Induk Kesenian dengan Mudah melalui
                aplikasi <b>"Kartu Kesenian Digital"</b>.
              </p>
              <button class="btn btn-info" routerLink="/registrasi">
                Daftar Sekarang
              </button>
            </div>
          </div>

          <div class="col-lg-6 mb-3">
            <div class="card card-body card-custom">
              <h3>Anda sudah terdaftar sebelumnya ?</h3>

              <p class="mb-3">
                Jika anda sudah mempunyai Kartu Induk Kesenian, Segera perbarui
                dengan layanan <b>"Kartu Kesenian Digital"</b>.
              </p>
              <button class="btn btn-info" (click)="checkKartu()">
                Perbarui Kartu Digital
              </button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading">
  <div class="spinner-wrapper">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-container>
