<div class="modal-content">
    <div class="modal-body">
      <div class="modal-card">
        <div class="image">
          <img src="/assets/img/image-delete.png" alt="" />
        </div>
  
        <h3>Are you sure to delete ?</h3>
  
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-outline-cancel px-3 btn-sm mr-4"
            (click)="close()"
          >
            Cancel
          </button>
          <button class="btn btn-danger px-3 btn-sm" (click)="delete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
  